body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    background: linear-gradient(to right, rgb(32, 78, 206), rgb(169, 121, 236));
    font-size: 36px;
    animation: grow 2s ease-in-out infinite alternate;
    border: 2px solid black;
}
@keyframes grow {
    0% {
        font-size: 36px;
    }
    100% {
        font-size: 48px;
    }
}

/*Para que no salgan las flechas en los cuadros de los numeros*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
}
/*Edita ciertos valores de los input para que esten correctamente en los cuadros*/
input[type=number] {
    margin: 0; 
    width: 34px;
    height: 34px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    border-color: black;
}

/*Cuadros de los numeros
td {
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
    width: 14px;
    height: 14px;
}
*/
/*Para los input de cada cuadro
#numero{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/

.Sudoku{
    width: 418px;
    height: 435px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: aqua;
}

#boardTopLeft{
    top: 44%;
    left: 35.1%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardTopRight{
    top: 44%;
    left: 64.9%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardCenter{
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardBottLeft{
    top: 106.1%;
    left: 35.1%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardBottRight{
    position: absolute;
    top: 106%;
    left: 64.8%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#botones{
    width: 100vw;
    height: 85px;
    background-color: lightblue;
    position: absolute;
    bottom: -40%;
}

.boton{
    background-color: rgb(113, 223, 154);
    border-color: aquamarine;
    width: 150px;
    height: 60px;
    font-size: 20px;
}
