body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    background: linear-gradient(to right, rgb(32, 78, 206), rgb(169, 121, 236));
    font-size: 36px;
    animation: grow 2s ease-in-out infinite alternate;
    border: 2px solid black;
}
@keyframes grow {
    0% {
        font-size: 36px;
    }
    100% {
        font-size: 48px;
    }
}

/*Para que no salgan las flechas en los cuadros de los numeros*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
}
/*Edita ciertos valores de los input para que esten correctamente en los cuadros*/
input[type=number] {
    margin: 0; 
    width: 36px;
    height: 36px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    border-color: aqua;
}

/*Clases*/
.Sudoku{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 435px;
    height: 405px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    background-color: white;
}

.boton{
    background-color: rgb(113, 223, 154);
    border-color: aquamarine;
    width: 150px;
    height: 60px;
    font-size: 20px;
}

#boardTopLeft{
    top: 41.5%;
    left: 34.5%;;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardTopRight{
    top: 40.5%;
    left: 65.5%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardCenter{
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardBottLeft{
    top: 99.9%;
    left: 34.4%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#boardBottRight{
    top: 99.8%;
    left: 65.4%;
    transform: translate(-50%, -50%); /*ajusta la posición del div*/
}

#botones{
    width: 100vw;
    height: 85px;
    background-color: lightblue;
    position: absolute;
    bottom: -40%;
}


